@import '../styles/variables.scss';

#canvas {
  background-color: honeydew;
}

.tools {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;

  .brush-inputs {
    input {
        margin-right: .5em;
    }
  }

  .canvas-controls {

    .control {
      margin-left: 0.5em;
      font-size: larger;
      color: red;
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

.save {
  padding: 1em;
  background-color: $secondary-strong;
  color: white;
  text-align: center;

  &:hover {
    background-color: $primary-strong;
    cursor: pointer;
  }
}

