@import '../styles/variables.scss';

.dashboard {

  &__container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto;
  }

  &__sidenav {
    background-color: $primary;
    padding: 16px;

    ul {
      margin-top: 16px;
      padding: 0;
      list-style: none;

      li {
        padding: 16px;
        margin-top: 10px;

        &:hover {
          background-color: $primary-strong;
          color: white;
          cursor: pointer;
        }

        &.active {
          background-color: $secondary-strong;
          color: white;
        }
      }
    }
  }

  &__mainContent {
    background-color: $secondary;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
}